<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>migrar_excel</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<!--   <body class="container mt-5">   -->

<body class="container-fluid mt-5">

    <h2 class="mb-4">Subir Archivo Excel</h2>
    
    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert fade show" role="alert">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mb-2">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    

    
            


    <!-- Formulario de carga de archivos -->
    <form method="post" enctype="multipart/form-data" class="form-group" id="migracionForm">
        <div class="mb-5">
            <label for="file" class="form-label">Selecciona un archivo Excel:</label>
            <input type="file" id="file" name="file" accept=".xlsx" class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primary" style="width: 180px;">Subir</button>
    </form>
    

    <!-- Instrucciones para el archivo -->
    <div class="alert alert-info mb-4 bg-light" role="alert">
        <strong>Instrucciones:</strong>
        <ul>
            <li>El archivo debe tener la extensión <strong>.xlsx</strong>.</li>            
            <li>Debe 1 sola hoja.</li>     
            <li>No debe  contener filas o columnas ocultas.</li>  
            <li>Sin registro de montos totales.</li>  
        </ul>
    </div>



<!-- MODELO DE ARCHIVO -->
<div class="container">
    <h5 class="text-center mb-3">MODELO DE ARCHIVO</h5>
    
    <!-- Tabla que incluye toda la información -->
    <table class="table table-bordered table-sm small" style="font-size: 0.75rem;">
        <thead>
            <tr class="text-center">
                <td class="bg-light font-italic"></td> <!-- Columna numerada con color de fondo y cursiva -->
                <td>A</td>
                <td>B</td>
                <td>C</td>                
                <td>D</td>
                <td>E</td>
                <td>F</td>
                <td>G</td>
                <td>H</td>
                <td>I</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-light font-italic">1</td> <!-- Primera columna con color de fondo y cursiva -->
                <td>AÑO</td>
                <td>2024</td>
            </tr>
            <tr>
                <td class="bg-light font-italic">2</td> <!-- Primera columna con color de fondo y cursiva -->
                <td>MES</td>
                <td>4</td>
            </tr>
            <tr>
                <td class="bg-light font-italic">3</td> <!-- Primera columna con color de fondo y cursiva -->
                <td>OBJETO</td>
                <td>133</td>
            </tr>
            <tr>
                <td class="bg-light font-italic">4</td> <!-- Primera columna con color de fondo y cursiva -->
                <td>CONCEPTO</td>
                <td>1133030</td>
            </tr>
            <tr>
                <td class="bg-light font-italic">5</td> <!-- Primera columna con color de fondo y cursiva -->
                <td>PLANILLA</td>
                <td>1</td>
            </tr>
            <tr class="text-center" >
                <td class="bg-light font-italic">6</td> <!-- Primera columna con color de fondo y cursiva -->
                <th>NRO</th>
                <th>CEDULA</th>
                <th>LETRA</th>
                <th>NOMBRE</th>
                <th>DEPENDENCIA</th>                
                <th>PRESUPUESTADO</th>
                <th>DEVENGADO</th>
                <th>JUBILACION</th>
                <th>LIQUIDO</th>
            </tr>
            <tr>
                <td class="bg-light font-italic">7</td> <!-- Primera columna con color de fondo y cursiva -->
                <td class="text-center" >1</td>                
                <td>3205773</td>
                <td></td>
                <td>ACOSTA FRANCO DAVID RICARDO</td>
                <td>DIRECCION DE CERTIFICACION ACADEMICA</td>
                <td class="text-right">2.680.373</td>
                <td class="text-right">804.112</td>
                <td class="text-right">128.658</td>
                <td class="text-right">675.454</td>
            </tr>
            <tr>
                <td class="bg-light font-italic">8</td> <!-- Primera columna con color de fondo y cursiva -->
                <td class="text-center" >2</td>
                <td>1575502</td>
                <td>D</td>
                <td>ACOSTA SELVA ELIZABETH</td>
                <td>DIRECCION DE CERTIFICACION ACADEMICA</td>
                <td  class="text-right"> 3.131.877</td>
                <td class="text-right">850.000</td>
                <td class="text-right">136.000</td>
                <td class="text-right">714.00</td>
            </tr>
        </tbody>
    </table>


</div>




<br><br><br><br><br><br><br>



    <!-- Bootstrap JS and dependencies (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- JavaScript personalizado -->
    <script>

        document.getElementById('migracionForm').onsubmit = function() {
            // Crear el overlay que bloqueará la pantalla
            var overlay = document.createElement('div');
            overlay.id = 'overlay';
            overlay.style.position = 'fixed';
            overlay.style.top = 0;
            overlay.style.left = 0;
            overlay.style.width = '100%';
            overlay.style.height = '100%';
            overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';  // Fondo oscuro semitransparente
            overlay.style.zIndex = 9999;  // Asegurarse de que esté al frente
            overlay.style.display = 'flex';
            overlay.style.justifyContent = 'center';
            overlay.style.alignItems = 'center';
        
            // Crear el spinner
            var spinner = document.createElement('div');
            spinner.className = 'spinner-border text-primary';
            spinner.setAttribute('role', 'status');
        
            var spinnerText = document.createElement('span');
            spinnerText.className = 'sr-only';
            spinnerText.innerText = 'Cargando...';
        
            spinner.appendChild(spinnerText);
            overlay.appendChild(spinner);
        
            // Añadir el overlay al body
            document.body.appendChild(overlay);
        
            // Desactivar el botón de enviar para evitar múltiples envíos
            document.getElementById('submitButton').disabled = true;
        };
        


    </script>


</body>
</html>

