<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Migración</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
        .table-sm th, .table-sm td {
            padding: 0.3rem;
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h3 class="mb-4">Resultados de la Migración</h2>
        <p><strong style="color: green;">Proceso ID:</strong> {{ proceso_id }}</p>




        {% if resumen %}
        <div class="card mb-4">
            <div class="card-body row">

                <div class="col-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Presupuesto Total:</strong></p>
                        </div>
                        <div class="col-md-6 text-end">
                            <p>{{ resumen.presupuesto | format_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Devengado Total:</strong></p>
                        </div>
                        <div class="col-md-6 text-end">
                            <p>{{ resumen.devengado | format_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Jubilación Total:</strong></p>
                        </div>
                        <div class="col-md-6 text-end">
                            <p>{{ resumen.jubilacion | format_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Líquido Total:</strong></p>
                        </div>
                        <div class="col-md-6 text-end">
                            <p>{{ resumen.liquido | format_number }}</p>
                        </div>
                    </div>

                </div>        

                <div class="col-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Cantidad registros:</strong></p>
                        </div>
                        <div>
                            <p>{{ cantidad_registros | format_number }}</p>
                        </div>
                    </div>
                </div>        

            </div>
        </div>
        {% endif %}
    
        


        <!-- Botones  -->
        <div class="row mb-4">
            <div class="col">


                <div class="d-flex">
                    <form action="{{ url_for('eliminar_registros', proceso_id=proceso_id) }}" method="post">
                        <button type="submit" 
                        class="btn btn-danger mr-2"  style="width: 180px;">
                        Cancelar migracion</button>
                    </form>


                    <a class="btn btn-primary" style="width: 180px;"
                        href="{{ url_for('confirmar_migracion', proceso_id=proceso_id) }}">
                        Confirmar migración
                    </a>


                </div>


            </div>
        </div>


        {% if beneficios %}
            <div class="card">
                <div class="card-header">
                    <h5>Detalles</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Presupuesto</th>
                                <th>Devengado</th>
                                <th>Jubilación</th>
                                <th>Líquido</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for beneficio in beneficios %}
                                <tr>
                                    <td>{{ beneficio.cedula }}</td>
                                    <td>{{ beneficio.presupues | format_number }}</td>
                                    <td>{{ beneficio.devengado | format_number }}</td>
                                    <td>{{ beneficio.jubilacion | format_number }}</td>
                                    <td>{{ beneficio.liquido | format_number }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning mt-4" role="alert">
                No se encontraron beneficios para este proceso.
            </div>
        {% endif %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
